<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="jackpal.androidterm"
          android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.GET_APP_OPS_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.SIGNAL_PERSISTENT_PROCESSES"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ProtectedPermissions"/>
    <queries>
        <package android:name="com.android.documentsui" />
        <package android:name="com.google.android.apps.docs" />
        <package android:name="com.google.android.documentsui" />
        <package android:name="com.amazon.cloud9" />
        <package android:name="com.box.android" />
        <package android:name="com.dropbox.android" />
        <package android:name="com.microsoft.skydrive" />
        <package android:name="com.microsoft.emmx" />
        <package android:name="com.nextcloud.client" />
        <package android:name="com.owncloud.android" />
        <package android:name="com.ttxapps.dropsync" />
        <package android:name="org.mozilla.firefox" />
        <package android:name="org.mozilla.firefox_beta" />
    </queries>

    <application
        android:requestLegacyExternalStorage="true"
        android:extractNativeLibs="true"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_terminal"
        android:theme="@style/App_Theme_Light" >
        <activity
            android:name=".ExtraContents"
            android:label="@string/title_activity_extra_contents" >
        </activity>
        <activity
            android:name=".Term"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:immersive="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".TermInternal"
            android:exported="false"
            android:targetActivity=".Term">
            <intent-filter>
                <action android:name="${applicationId}.shiftrot.androidterm.private.OPEN_NEW_WINDOW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.shiftrot.androidterm.private.SWITCH_WINDOW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".RemoteInterface"
            android:exported="true"
            android:excludeFromRecents="false">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.PICK"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.PICK"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="application/*xml"/>
                <data android:mimeType="application/atom+xml"/>
                <data android:mimeType="application/dxf"/>
                <data android:mimeType="application/ecmascript"/>
                <data android:mimeType="application/javascript"/>
                <data android:mimeType="application/json"/>
                <data android:mimeType="application/*log*"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="application/soap+xm"/>
                <data android:mimeType="application/x-caramel"/>
                <data android:mimeType="application/x-klaunch"/>
                <data android:mimeType="application/x-latex"/>
                <data android:mimeType="application/x-sh"/>
                <data android:mimeType="application/x-tcl"/>
                <data android:mimeType="application/x-tex*"/>
                <data android:mimeType="application/x-troff*"/>
                <data android:mimeType="application/xhtml+xml"/>
                <data android:mimeType="application/xml*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.googlecode.android_scripting.action.EDIT_SCRIPT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TermPreferences"
            android:label="@string/preferences" />
        <activity
            android:name=".WebViewActivity"
            android:label="Local HTML Viewer"/>

        <service android:name=".TermService"
            android:exported="false">
            <intent-filter>
                <action android:name="jackpal.androidterm.action.START_TERM.v1"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="android.max_aspect"
            android:value="ratio_float"/>
    </application>

</manifest>
