<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jackpal.androidterm.emulatorview"
      android:versionCode="44"
      android:versionName="1.0.43.mod"
      android:installLocation="auto">
    <application
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:extractNativeLibs="true"
        tools:targetApi="q" />
</manifest>
